<div class="columned-item col-sm">
  <div class="columned-item-bar"></div>
  <div>
    <div class="columned-list-name"><%= name %></div>
    <% if local_assigns[:twitter_handle].present? %>
      <div>
        <%= link_to "@#{twitter_handle}", "https://twitter.com/#{twitter_handle}", target: :_blank %>
      </div>
    <% end %>
  </div>
</div>
