<div id="district-<%= district.slug %>" class="district-card">
  <div class="col-md-6">
    <h2 class="h5"><%= link_to district.name, admin_police_district_meetings_path(district) %></h2>
  </div>
  <div class="col-md-6">
    <div class="h5">$<%= district.readable_budget %>M</div>
    <div>FY19 Policing Budget</div>
  </div>
</div>
