<div class="mb-5 mt-5">
  <%= link_to 'Add a new district', new_admin_police_district_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <% @districts.each do |district| %>
      <%= render partial: 'district_card', locals: { district: district } %>
  <% end %>
</div>
