<div class="">
  <%= link_to 'Add a new district', new_admin_police_district_path %>
</div>

<div class="">
  <% @districts.each do |district| %>
      <div id="district-<%= district.slug %>" class="">
        <div>
          <div class=""><%= district.name %></div>
        </div>
        <div>
          <div class="">$<%= district.readable_budget %>M</div>
          <div class="">FY19 Policing Budget</div>
        </div>
      </div>
  <% end %>
</div>
