<div class="district-jumbotron">
      <div class="district-jumbotron-info">
        <div class="h3"><%= district.name %></div>
        <div>
          <div class="next-meeting-title">
            Next budget meeting
          </div>
          <% if next_meeting = district.next_meeting %>
            <div class="district-card-bullet">
              <div class="calendar-icon"></div>
              <div><%= next_meeting.formatted_event_datetime %></div>
            </div>
          <% else %>
            <div>Check back soon</div>
          <% end %>
        </div>
      </div>

      <div class="district-jumbotron-budget">
        <div class="h3">$<%= district.readable_budget %></div>
        <div class="pink-text">Fiscal year 2019 police and sheriff budget</div>
      </div>
</div>
