.admin {
  background-color: initial;

  main {
    @extend .py-3;
    background-color: initial;

    h1 {
      @extend .pb-3;
    }
  }

  .navbar {
    position: initial;
  }

  .form-group--medium {
    @extend .col-md-4;
    @extend .pl-0;
  }

  .container {
    @extend .pt-5;
  }

  .district-card {
    border: 1px solid lightgray;
  }
}