@import './bootstrap_custom.scss';
@import './fonts.scss';
@import './admin.scss';

$blue: #3B629C;
$metal: #2B2D42;
$pink1: #ECDDDE;
$pink2: #E9B1B5;
$pink3: #8D6E70;
$yellow: #FAD967;

body {
  color: $metal;
  font-family: 'Poppins';
}

html, body, main {
  min-height: 100vh;
}

main {
  background-color: black;
}

.agenda-details {
  font-size: 19px;
  line-height: 150%;
  margin-top: 16px;
}

.agenda-icon {
  background-color: $pink1;
  background-image: url(assets/icons/ic_agenda.svg);
  background-size: 100%;
  border-radius: 28px;
  height: 56px;
  margin-right: 24px;
  width: 56px;
}

.agenda-link {
  align-items: center;
  display: flex;
  margin-top: 24px;

  a {
    color: $blue;
    font-family: 'Poppins-Bold';
    font-size: 19px;
    line-height: 150%;
    text-decoration: underline;
  }
}

.calendar-icon {
  background-image: url(assets/icons/ic_calendar.svg);
  height: 32px;
  margin-right: 4px;
  width: 32px;
}

.district-card {
  background-color: white;
  color: $metal;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  a {
    color: $metal;
  }
}

@media(max-width: 568px) {
  .district-card {
    flex-direction: column;
  }
}

.district-card-bullet {
  display: flex;
  font-size: 16px;
  line-height: 225%;
  margin-top: 4px;
}

.district-card-details-primary {
  display: flex;
  flex-direction: column;
  padding: 20px 32px 24px 32px;
}

.district-card-details-secondary-container {
  background-image: url(assets/images/pink-slant.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 316px;
}

.district-card-details-secondary-text {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 20px 56px 36px 56px;
  text-align: end;
}

.district-jumbotron {
  @extend .jumbotron;
  @extend .jumbotron-fluid;

  align-items: center;
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin-bottom: 0px;
  padding: 0px;
}

.district-jumbotron-budget {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  text-align: end;

  .h3 {
    font-size: 88px;
  }

  .pink-text {
    color: $metal;
  }
}

.district-jumbotron-content-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 976px;
  width: 100%;
}

.district-jumbotron-info {
  display: flex;
  flex-direction: column;

  .h2 {
    font-size: 72px;
  }
}

.how-to-comment {
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.how-to-comment-instruction {
  font-size: 19px;
  line-height: 150%;
}

.how-to-comment-number {
  align-items: center;
  background-color: $pink1;
  border-radius: 28px;
  display: flex;
  height: 56px;
  justify-content: center;
  margin-right: 24px;
  width: 56px;
}

.main-jumbotron {
  @extend .jumbotron;
  @extend .jumbotron-fluid;

  background-color: $yellow;
  background-image: url(assets/images/header-photo.jpg);
  background-position: top center;
  margin-bottom: 0px;
  padding: 0px;
}

@media(min-width: 569px) {
  .main-jumbotron {
    background-size: 100%;
    height: 500px;
    padding-top: 156px;
  }
}

@media(max-width: 568px) {
  .main-jumbotron {
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 360px;
    padding-top: 120px;
  }
}

.district-info {
  @extend .py-5;

  h2 {
    text-transform: uppercase;
  }

  p:last-of-type {
    @extend .pb-5;
  }
}

.district-list {
  @extend .container;

  background-color: $metal;
  color: white;
  max-width: 976px;
  padding: 32px 48px;
  width: 100%;
}

@media(min-width: 569px) {
  .district-list {
    margin-top: -90px;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media(max-width: 568px) {
  .header {
    padding: 0px 64px;

    .subtitle {
    line-height: 150%;
    margin-top: 8px;
  }
  }
}

.h2 {
  font-family: 'Martin';
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media(min-width: 569px) {
  .h2 {
    font-size: 64px;
    line-height: 73px;
  }
}

@media(max-width: 568px) {
  .h2 {
    font-size: 44px;
    line-height: 90%;
  }
}

.h3 {
  font-family: 'Martin';
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.h4 {
  font-family: 'Martin';
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
}

.link-yellow {
  color: $yellow;
  font-family: 'Poppins-Bold';
  text-decoration: none;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-brand {
  background-color: $metal;
  border-radius: 24px;
  height: 48px;
  width: 48px;
}

.nav-link {
  color: $metal;
  font-family: 'Martin';
  font-size: 28px;
  text-transform: uppercase;
}

.next-meeting-title {
  font-family: 'Poppins-Bold';
  letter-spacing: 1px;
  line-height: 175%;
  text-transform: uppercase;
}

.phone-icon {
  background-image: url(assets/icons/ic_phone.svg);
  height: 32px;
  margin-right: 4px;
  width: 32px;
}

.pink-text {
  color: $pink3;
  font-family: 'Poppins-Bold';
  font-size: 12px;
  height: 54px;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  width: 128px;
}

.section {
  margin-bottom: 48px;
}

@media(min-width: 569px) {
  .title1 {
    margin-right: 5px;
  }
}

.title-container {
  display: flex;
}

@media(max-width: 568px) {
  .title-container {
    flex-direction: column;
  }
}

.white-background {
  background-color: white;
}
