@import './bootstrap_custom.scss';
@import './fonts.scss';
@import './admin.scss';

$blue: #3B629C;
$gray: #727380;
$metal: #2B2D42;
$pink1: #ECDDDE;
$pink2: #E9B1B5;
$pink3: #8D6E70;
$yellow: #FAD967;

a:hover {
  text-decoration: none;
}

body {
  color: $metal;
  font-family: 'Poppins';
}

html, body, main {
  min-height: 100vh;
}

.police_districts.index {
  background-color: black;
}

.white-background {
  background-color: white;

  a {
    color: #3B629C;
    text-decoration: underline;
  }
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

a.add-to-calendar-button, a.add-to-calendar-button:hover {
  background-color: white;
  border: 2px solid $metal;
  color: $metal;
  display: flex;
  font-family: 'Poppins-Bold';
  line-height: 48px;
  padding: 0px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: #f0f0f0;
  }
}

@media(min-width: 569px) {
  a.add-to-calendar-button, a.add-to-calendar-button:hover {
    margin-top: 36px;
  }
}

@media(max-width: 568px) {
  a.add-to-calendar-button, a.add-to-calendar-button:hover {
    margin-top: 20px;
  }
}

.agenda-details {
  margin-top: 16px;
}

.link-icon {
  background-color: $pink1;
  background-size: 100%;
  flex-shrink: 0;
}

.link-icon.agenda {
  background-image: url(assets/icons/ic_agenda.svg);
}

.link-icon.watch {
  background-image: url(assets/icons/ic_watch.svg);
}

.link-icon.email {
  background-image: url(assets/icons/ic_email.svg);
}

@media(min-width: 569px) {
  .link-icon {
    border-radius: 28px;
    height: 56px;
    margin-right: 24px;
    width: 56px;
  }
}

@media(max-width: 568px) {
  .link-icon {
    border-radius: 18px;
    height: 36px;
    margin-right: 12px;
    width: 36px;
  }
}

.row-link {
  align-items: center;
  display: flex;
  margin-top: 24px;

  a {
    color: $blue;
    font-family: 'Poppins-Bold';
    text-decoration: underline;

    &:hover {
      background: $pink1;
    }
  }
}

.calendar-icon {
  background-image: url(assets/icons/ic_calendar.svg);
  height: 32px;
  margin-right: 4px;
  width: 32px;
}

.decision-makers-text {
  margin-top: 8px;
}

.district-card {
  background-color: white;
  color: $metal;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.district-card:hover {
  filter: brightness(0.9) saturate(2.5);
}

@media(max-width: 568px) {
  .district-card {
    flex-direction: column;
  }
}

.district-card-bullet {
  align-items: center;
  display: flex;
  font-size: 16px;
  line-height: 225%;
  margin-top: 4px;
}

.district-card-details-primary {
  display: flex;
  flex-direction: column;
}

@media(min-width: 569px) {
  .district-card-details-primary {
    padding: 20px 32px 24px 32px;
  }
}

@media(max-width: 568px) {
  .district-card-details-primary {
    padding: 16px 20px;
  }
}

.district-card-details-secondary-container {
  display: flex;
}

@media(min-width: 569px) {
  .district-card-details-secondary-container {
    background-image: url(assets/images/pink-slant.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    justify-content: flex-end;
    width: 316px;
  }
}

@media(max-width: 568px) {
  .district-card-details-secondary-container {
    background-color: $pink1;
  }
}

.district-card-details-secondary-text {
  display: flex;
  text-align: end;
}

@media(min-width: 569px) {
  .district-card-details-secondary-text {
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding: 20px 32px 24px 32px;
  }
}

@media(max-width: 568px) {
  .district-card-details-secondary-text {
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    width: 100%;
  }
}

.district-jumbotron {
  @extend .jumbotron;
  @extend .jumbotron-fluid;

  background-color: $yellow;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 0px;
}

@media(min-width: 781px) {
  .district-jumbotron {
    align-items: center;
    height: 500px;
  }
}

@media(max-width: 780px) {
  .district-jumbotron {
    flex-direction: column;
  }
}

.district-jumbotron-budget {
  color: $pink2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .pink-text {
    color: $pink2;
  }
}

@media(min-width: 781px) {
  .district-jumbotron-budget {
    align-items: flex-end;
    background-image: url(assets/images/blue-slant.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-right: 64px;
    text-align: end;
    width: calc(40% + 128px);

    .h3 {
      font-size: 88px;
    }
  }
}

@media(min-width: 1028px) {
  .district-jumbotron-budget {
    padding-right: 128px;
  }
}

@media(max-width: 780px) {
  .district-jumbotron-budget {
    align-items: flex-start;
    background-color: $metal;
    padding: 20px 48px 24px 48px;

    .h3 {
      font-size: 44px;
      line-height: 100%;
    }

    .pink-text {
      margin-top: 6px;
      width: 100%;
    }
  }
}

@media(max-width: 568px) {
  .district-jumbotron-budget {
    padding: 24px;
  }
}

.district-jumbotron-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

@media(min-width: 781px) {
  .district-jumbotron-info {
    padding-left: 64px;

    .h3 {
      font-size: 72px;
      line-height: 100%;
    }
  }
}

@media(min-width: 569px) {
  .district-jumbotron-info {
    padding-left: 48px;
    margin: 96px 0 56px 0;
  }
}

@media(min-width: 1028px) {
  .district-jumbotron-info {
    padding-left: 128px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media(max-width: 568px) {
  .district-jumbotron-info {
    margin: 120px 24px 56px 24px;

    .h3 {
      font-size: 44px;
    }
  }
}

.columned-item {
  font-size: 16px;
  margin-bottom: 24px;
}

.columned-list-name {
  font-family: 'Poppins-Bold';
}

.columned-list {
  margin-top: 36px;
}

.general-fund {
  align-items: center;
  display: flex;
}

.general-fund-definition {
  color: $gray;
  margin-top: 24px;
}

.general-fund-details {
  margin-left: 36px;
}

.general-fund-percentage {
  font-family: 'Poppins-Bold';
  font-size: 48px;
  line-height: 120%;
}

.how-to-comment {
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.how-to-comment-number {
  align-items: center;
  background-color: $pink1;
  display: flex;
  flex-shrink: 0;
  font-family: 'Martin';
  justify-content: center;
}

@media(min-width: 569px) {
  .how-to-comment-number {
    border-radius: 28px;
    font-size: 48px;
    height: 56px;
    margin-right: 24px;
    width: 56px;
  }
}

@media(max-width: 568px) {
  .how-to-comment-number {
    border-radius: 18px;
    font-size: 24px;
    height: 36px;
    margin-right: 12px;
    width: 36px;
  }
}

.main-jumbotron {
  @extend .jumbotron;
  @extend .jumbotron-fluid;

  background-color: $yellow;
  background-image: url(assets/images/header-photo.jpg);
  background-position: top center;
  margin-bottom: 0px;
  padding: 0px;
}

@media(min-width: 569px) {
  .main-jumbotron {
    background-size: 100%;
    height: 500px;
    padding-top: 156px;
  }
}

@media(max-width: 568px) {
  .main-jumbotron {
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 360px;
    padding-top: 120px;
  }
}

.district-info {
  @extend .container;

  line-height: 150%;
  max-width: 976px;
  padding: 0px;
  width: 100%;
}

@media(min-width: 569px) {
  .district-info {
    font-size: 19px;
    padding: 72px 48px;
  }
}

@media(max-width: 568px) {
  .district-info {
    font-size: 16px;
    padding: 36px 24px;

    .h4 {
      font-size: 36px;
      line-height: 41px;
    }
  }
}

.district-list {
  @extend .container;

  background-color: $metal;
  color: white;
  max-width: 976px;
  width: 100%;
}

@media(min-width: 569px) {
  .district-list {
    margin-top: -90px;
    padding: 32px 48px;
  }
}

@media(max-width: 568px) {
  .district-list {
    padding: 32px 24px;

    .h2 {
      font-size: 36px;
      line-height: 41px;
    }

    .h3, .h4 {
      font-size: 32px;
      line-height: 37px;
    }
  }
}

@media(min-width: 569px) {
  .district-list-subtitle {
    line-height: 250%;
  }
}

@media(max-width: 568px) {
  .district-list-subtitle {
    font-size: 14px;
    line-height: 150%;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media(max-width: 568px) {
  .header {
    padding: 0px 64px;

    .subtitle {
    line-height: 150%;
    margin-top: 8px;
  }
  }
}

.h2 {
  font-family: 'Martin';
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media(min-width: 569px) {
  .h2 {
    font-size: 64px;
    line-height: 73px;
  }
}

@media(max-width: 568px) {
  .h2 {
    font-size: 44px;
    line-height: 90%;
  }
}

.h3 {
  font-family: 'Martin';
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.h4 {
  font-family: 'Martin';
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
}

.link-yellow {
  color: $yellow;
  font-family: 'Poppins-Bold';
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $yellow;
  }
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.about {
  .navbar {
    background: $yellow;
  }
}

.navbar-brand {
  height: 48px;
  width: 48px;
  background-image: url(assets/icons/logo.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.navbar-nav {
  transform: translate3d(0,-3px,0);
}

.nav-link {
    color: $metal;
  }

.police_districts.show {
  @media(min-width: 781px) {
    .nav-link {
      color: $white;
    }
  }

  @media(max-width: 780px) {
    .nav-link {
      color: $metal;
    }
  }
}

.nav-link {
  font-family: 'Martin';
  font-size: 28px;
  text-transform: uppercase;

  &:hover {
    color: $metal;
    text-decoration: underline;
  }
}

.next-meeting-time {
  line-height: 48px;
}

.next-meeting-title {
  font-family: 'Poppins-Bold';
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media(min-width: 569px) {
  .next-meeting-title {
    line-height: 175%;
    margin-top: 36px;
  }
}

@media(max-width: 568px) {
  .next-meeting-title {
    font-size: 14px;
    line-height: 100%;
    margin-top: 20px;
  }
}

.phone-icon {
  background-image: url(assets/icons/ic_phone.svg);
  height: 32px;
  margin-right: 4px;
  width: 32px;
}

.pie-chart {
  flex-shrink: 0;
}

@media(min-width: 569px) {
  .pie-chart {
    height: 218px;
    width: 218px;
  }
}

@media(max-width: 568px) {
  .pie-chart {
    height: 118px;
    width: 118px;
  }
}

.pink-text {
  color: $pink3;
  font-family: 'Poppins-Bold';
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  width: 180px;
}

.section {
  margin-bottom: 48px;
}

.title-container {
  display: flex;
}

@media(max-width: 568px) {
  .title-container {
    flex-direction: column;
  }
}

.about-content {
  padding-top: 140px;
  position: relative;
}
