<div class="main-jumbotron">
    <div class="header">
      <div class="title-container">
        <h1 class="h2">Reinvest in us.</h1>
      </div>
      <div class="subtitle">Learn when and how to give comment on police budgets.</div>
    </div>
</div>
<div class="district-list">
  <h1 class="h2">Cities & districts</h1>
  <div class="district-list-subtitle">Want to help us add a city or police district that isn't here? <a href="" class="link-yellow">Get in touch.</a></div>
  <% @districts.each do |district| %>
    <%= render partial: 'shared/district_card', locals: { district: district, district_path: police_district_path(district) } %>
  <% end %>
</div>
