<div class="jumbotron">
  <div class="container">
    <h1 class="h2">Show up. Defund violence.</h1>
    <div>Find where, when, and how to give your input on your local police budget.</div>
  </div>
</div>

<div class="container">
  <% @districts.each do |district| %>
    <%= render partial: 'district_card', locals: {district: district } %>
  <% end %>
</div>
