<div class="main-container">
  <div class="main-jumbotron">
      <div class="header">
        <div class="title-container">
          <h1 class="h2">Reinvest in us.</h1>
        </div>
        <div class="subtitle">Learn when and how to give comment on police budgets.</div>
      </div>
  </div>
  <div class="district-list">
    <h1 class="h2">Upcoming meetings</h1>
    <div class="district-list-subtitle">
      Want to help us add a city or police district that isn't here?
      <%= mail_to ENV.fetch('CONTACT_EMAIL', 'contact@example.com'), 'Get in touch.', class: 'link-yellow' %>
    </div>
    <% @districts.each do |district| %>
      <%= render partial: 'shared/district_card', locals: { district: district, district_path: police_district_path(district) } %>
    <% end %>
  </div>
</div>
